.w { width: var(--w); min-width: var(--mnw); max-width: var(--mxw); }
.h { height: var(--h); min-height: var(--mnh); max-height: var(--mxh); }

.w-screen { width: 100dvw; }
.w-full { width: 100%; }
.h-screen { height: 100dvh; }
.h-full { height: 100%; }

.w-inherit { width: inherit; }
.h-inherit { height: inherit; }

@media (min-width: 768px) {
    .md\:w { width: var(--w-md); min-width: var(--mnw-md); max-width: var(--mxw-md); }
    .md\:h { height: var(--h-md); min-height: var(--mnh-md); max-height: var(--mxh-md); }

    .md\:w-screen { width: 100dvw; }
    .md\:w-full { width: 100%; }
    .md\:h-screen { height: 100dvh; }
    .md\:h-full { height: 100%; }

    .md\:w-inherit { width: inherit; }
    .md\:h-inherit { height: inherit; }
}

@media (min-width: 1024px) {
    .lg\:w { width: var(--w-lg); min-width: var(--mnw-lg); max-width: var(--mxw-lg); }
    .lg\:h { height: var(--h-lg); min-height: var(--mnh-lg); max-height: var(--mxh-lg); }

    .lg\:w-screen { width: 100dvw; }
    .lg\:w-full { width: 100%; }
    .lg\:h-screen { height: 100dvh; }
    .lg\:h-full { height: 100%; }

    .lg\:w-inherit { width: inherit; }
    .lg\:h-inherit { height: inherit; }
}

@media (min-width: 1440px) {
    .xl\:w { width: var(--w-xl); min-width: var(--mnw-xl); max-width: var(--mxw-xl); }
    .xl\:h { height: var(--h-xl); min-height: var(--mnh-xl); max-height: var(--mxh-xl); }

    .xl\:w-screen { width: 100dvw; }
    .xl\:w-full { width: 100%; }
    .xl\:h-screen { height: 100dvh; }
    .xl\:h-full { height: 100%; }

    .xl\:w-inherit { width: inherit; }
    .xl\:h-inherit { height: inherit; }
} 